.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	padding: 0 15px;
}

.bg-color{
    background-color:#d02626db;
}

}
.dataTables_wrapper .dataTables_paginate
.paginate_button.disabled, .dataTables_wrapper
.dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate
.paginate_button.disabled, .dataTables_wrapper
.dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
}


label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #fff;
}

.box-wrapper{
    width: 500px;
    margin: 0 auto;
}
#logout:hover{
    cursor: pointer;
}
h1{
    color:#fff;
}
.custom-table{
    background: #fff;
}