{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4 mb-4">
    <div class="intro">
        <div class="box-wrapper shadow p-4 mb-4 bg-white">
            <h4 class="mb-4">Sign-In</h4>
            <form class="needs-validation"  novalidate id="login_form">
                {% csrf_token %}
                <div class="form-group">
                    <input name="email" id="email" type='email' class="form-control"  placeholder="Email" required>
                    <span class="help-inline error"></span>
                </div>
                <div class="form-group">
                    <input name="password" id="password" type='password' class="form-control"  placeholder="Password" required>
                    <span class="help-inline error"></span>
                </div>
                <button type="submit" class="btn btn-danger btn-block  mb-4 btn-black">Sign In</button>
                <p class="float-left">Don't have an account? <a href="{% url 'sign_up' %}">Register</a> </p>
                <a href="#"><p class="float-right">Forgot Password</p></a>
                <br/>
            </form>
        </div>
    </div>
</div>

<!--end container-->

{% endblock content %}
